.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.refresh{
  background-color:green;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  
}

@media (max-width: 320px){
  h1 {
    font-size: 2rem ;
  }

  
}


@media (max-width: 575.98px) { 
  p{
    font-size:  1.5rem;
    color: rgba(255, 87, 36, 0.767);
    
  }

  .refresh{
    width: 150px;
    background-color: rgba(202, 151, 55, 0.644);
  }

  h1 {
    font-size: 5rem;
    color: rgba(202, 151, 55, 0.644);
  }

  .dice-container{
    display: flex;
  }
  body{
    background-color: orange;
  }
  footer{
    color: rgb(179, 255, 0);
  }
  
 }





@media (max-width: 767.98px) {
  h1 {
    font-size: 6rem;
    color: rgba(202, 151, 55, 0.644);
  }

  p{
    color: rgba(255, 87, 36, 0.767);

    
  }

  body{
    background-color: orange;
  }

  
  .refresh{
    width: 150px;
    background-color: rgba(202, 151, 55, 0.644);
  }

  footer{
    color: rgb(179, 255, 0);
  }
}

@media (max-width: 991.98px) { 
  h1 {
    font-size: 6.5rem;
    color: rgba(202, 151, 55, 0.644);
  }

  p{
    color: rgba(255, 87, 36, 0.767);

    
  }

  body{
    background-color: orange;
  }

  
  .refresh{
    width: 150px;
    background-color: rgba(202, 151, 55, 0.644);
  }

  footer{
    color: rgb(179, 255, 0);
  }
}

